<meta charset="utf-8">
<title>At Home with Baldwin Interiors</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
  	var myLatLng = new google.maps.LatLng(32.520727, -84.957549);
  	var mapCanvas = document.getElementById('map-canvas');
  	var mapOptions = {
  	  center: myLatLng,
  	  zoom: 16,
  	  mapTypeId: google.maps.MapTypeId.ROADMAP
  	}
  	var map = new google.maps.Map(mapCanvas, mapOptions);
  	var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'At Home with Baldwin Interiors'
  	});
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>