<% @body_id = 'home-page' %>

<div class="row">
  <div id="home-image" class="col-md-12">
    <%= render partial: 'spree/shared/slider', locals: { slider: Spree::Slide.published, cid: 'home', interval: false } %>
  </div>
</div>

<div class="row">
  <div id="homePage">
    <div id="hp-contain" class="container-fluid">
  	  <div class="row">
  	    <div class="box col-md-4">
  	  	  <a href="/t/categories/gifts"><%= image_tag("real_friend_tea_towel.jpg") %></a>
  	  	  <div class="productTag">
  	  	    <h3 class="font-1 tagCopy1">New in Gifts</h3>  	  	  	
  	  	    <p class="font-2 tagCopy2">Sassy Tea Towels</p>
  	  	  </div>
  	    </div>
  	    <div class="box col-md-4">
          <a href="/t/categories/interiors"><%= image_tag("aluminum_leaf.jpg") %></a>
  	  	  <div class="productTag">
  	  	  	<h3 class="font-1 tagCopy1">Featured Interiors</h3>
  	  	    <p class="font-2 tagCopy2">Polished Aluminum Serveware</p>
  	  	  </div>  	  	
  	    </div>
  	    <div class="box col-md-4">
          <a href="/bridal_registries/new"><%= image_tag("bridal_registry.jpg") %></a>
  	  	  <div class="productTag">
  	  	  	<h3 class="font-1 tagCopy1">Bridal Registry</h3>
  	  	    <p class="font-2 tagCopy2">Start your wishlist!</p>
  	  	  </div>  	  	
  	    </div>
      </div>  
      <div class="row">
      	<div class="col-md-9 box2">
          <%= image_tag("fish-rug.jpg") %>
      	</div>
      </div>	
    </div>
  </div>
</div>
